<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="club.iandroid.hack50">

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".subject1.WeightActivity" />
        <activity android:name=".subjectThread.ThreadActivity" />
        <activity android:name=".subject1.IncludeViewStubActivity" />
        <activity android:name=".subject1.ViewGroupActivity" />
        <activity android:name=".subject1.SettingActivity" />
        <activity android:name=".subject1.IndexActivity" />
        <activity android:name=".hellochart.HelloChartPileActivity"></activity>
    </application>

</manifest>